/* 1.1 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: #D5B0AC;
    display: flex;
}

nav span {
    font-weight: bold;
    color: #402E2A;
}

/* 1.2 */
nav span {
    width: 100px;
    height: 30px;
    display: inline-block;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 1.3 */

nav {
    justify-content: center;
}
/* 1.4 + 1.5 */
span:hover {
    background-color: #9CD08F;
    color: #ffffff;
    cursor: pointer;
}

